/*Light mode - hidden by default*/
@media screen and (min-width: 769px) {
    /* for desktop view */
    .grid-container {
        grid-template-areas: "main-four main-four main-three main-three"
                             "main-two main-one main-one main-one"
                             "footer footer footer footer";
    }
    .grid-container-contact {
        grid-template-areas: "contact-two contact-one"
                             "contact-footer contact-footer";
    }
}
@media screen and (max-width: 768px) {
    /* for tablet view */
    .grid-container {
        grid-template-areas: "main-four main-four main-four main-four"
                             "main-three main-three main-three main-three"
                             "main-two main-one main-one main-one"
                             "footer footer footer footer";
    }
    .grid-container-contact {
        grid-template-areas: "contact-one contact-one"
                             "contact-two contact-two"
                             "contact-footer contact-footer";
    }
}
html, body {
    background-color: #ebe2d7;
    color: rgb(39, 36, 36);
}
header {
    background-color: #dacdc7;
    text-shadow: 2px 2px 5px rgb(73, 57, 57);
    box-shadow: inset 0 0 1vh #585045;
    border-bottom: 0.1vh solid #dacdc7; /*border, but does provide color*/
}
.flex-container-media {
    background-color: #c9a899;
    border: 2vh solid #968479; /*border, but does provide color*/
    flex-direction: row-reverse;
}
.grid-container > div, .grid-container-media > div, .grid-container-contact > div {
    background-color: #c9a899;
    color: rgb(39, 36, 36);
}
.grid-container, .grid-container-media, .grid-container-contact {
    background-color: #968479;
}
figure img {
    border: 1vh solid #ebe2d7;
}
nav {
    background-color: #c2bbb9;
    box-shadow: inset 0 0 1vh #99695b;
    box-shadow: .5vh .5vh 0.5vh #3b25108a;
}
button {
    background-color: #3b25108a;
    color: white;
    box-shadow: inset 0 0 1vh #ebe2d7;
    box-shadow: .5vh .5vh 0.5vh #270c113f;
}
#media-footer {
    background-color: #c9a899;
    border-bottom: 1vw solid #968479; /*border, but does provide color*/
    border-left: 1vw solid #968479; /*border, but does provide color*/
    border-right: 1vw solid #968479; /*border, but does provide color*/
}
#media-one {
    order: 5;
}
#media-two {
    order: 6;
}
#media-three {
    order: 7;
}
#media-four {
    order: 8;
}
#media-five {
    order: 1;
}
#media-six {
    order: 2;
}
#media-seven {
    order: 3;
}
#media-eight {
    order: 4;
}