@media screen and (min-width: 769px) {
    /* for desktop view */
    .flex-container-media > div {
        margin: 1vw;
    }
    .flex-container-media img, .flex-container-media iframe, .flex-container-media figure {
        width: 50vh;
    }
    figure figcaption{
        margin-top: 1vh;
    }
    figcaption {
        max-width: 300px;
    }
    .grid-container, .grid-container-media, .grid-container-contact {
        grid-row-gap: 0.5vw;
    }
}
@media screen and (max-width: 768px) {
    /* for tablet view */
    .flex-container-media img, .flex-container-media iframe, .flex-container-media figure {
        width: 92%;
        height: auto;
        max-width: 100%;
    }
    .grid-container, .grid-container-media, .grid-container-contact {
        grid-row-gap: 1.5vw;
    }
}
@media screen and (max-width: 450px) {
    /* for mobile */
    .flex-container-media img, .flex-container-media iframe, .flex-container-media figure {
        width: 25vh;
    }
    #main-two img {
        height: 50vw;
    }

}
/* start of normal content CSS (not size dependent) */
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 0;
    height: 10vh;
    display: flex;
    flex-basis: auto;
    align-items: center;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    margin: 0;
}
.flex-container-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
}
.grid-container > div, .grid-container-media > div, .grid-container-contact > div {
    align-self: stretch;
    justify-self: stretch;
    color: white;
}
.grid-container, .grid-container-media, .grid-container-contact {
    padding: 2vh;
    margin: 2vh;
    display: grid;
    grid-column-gap: 1vh;
}
.grid-container-contact #contact-one  h2, .grid-container-contact #contact-two h2 {
    margin: 2vh;
    font-size: 3vh;
}
.grid-container-contact #contact-one p,  .grid-container-contact #contact-two p{
    margin: 2vh;
    font-size: 2vh;
}
.grid-container-contact #contact-one img, .grid-container-contact #contact-two img {
    height: 10vh;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    height: 15vh;
}
#main-two img {
    align-self: center;
    margin: auto;
    max-height: 300px;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    flex-basis: auto;
    box-shadow: inset 0 0 1vh #3a1c21;
    box-shadow: .5vh .5vh 0.5vh #270c113f;
}
details {
    margin: 3vh;
}
button {
    cursor: pointer;
    border-radius: 30px;
    width: 10vh;
    margin: 1.5vh;
    min-width: 65px;
    flex-basis: auto;
}
button img {
    max-width: 3vw;
    max-height: 3vh;
    margin-top: 0.5vh;
}
#main-one {
    grid-area: main-one;
    padding: 2vw;
}
#main-two {
    grid-area: main-two;
    display: flex;
}
#main-three {
    grid-area: main-three;
    padding: 2vw;
}
#main-three ul {
    padding-left: 4em; 
}
#main-four {
    grid-area: main-four;
    padding: 2vw;
}
#footer {
    grid-area: footer;
}
#media-one {
    order: 1;
}
#media-two {
    order: 2;
}
#media-three {
    order: 3;
}
#media-four {
    order: 4;
}
#media-five {
    order: 5;
}
#media-six {
    order: 6;
}
#media-seven {
    order: 7;
}
#media-eight {
    order: 8;
}
#media-footer {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}
#contact-one {
    grid-area: contact-one;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact-two {
    grid-area: contact-two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact-footer {
    grid-area: contact-footer;
}

/* ID's to hide pages */
#media {
    display: none;
}
#projects {
    display: none;
}
#contact {
    display: none;
}